@media (max-width: 991px) {
  .login-frm {
    padding: 7rem 3rem;
  }
}
@media (max-width: 768px) {
  .dn-768 {
    display: none;
  }
  .btn-trasnperent {
    margin-left: 0;
  }
  .navbar-brand img {
    width: 300px;
  }
  .text-center-md {
    text-align: center;
  }
  .hero-content {
    width: 80%;
  }
  .owl-carousel {
    width: 100%;
  }
  .testimonial-section {
    background: linear-gradient(70deg, #b3fd4c 103%, #b3fd4c00 100%);
  }
}
@media (max-width: 550px) {
  .hero-bg-image img {
    height: 62rem;
    object-fit: cover;
  }
}
@media (max-width: 400px) {
  html {
    font-size: 59.5%;
  }
  .navbar-brand img {
    width: 250px;
  }
  .hero-content {
    width: 90%;
  }
}

@media (max-width: 300px) {
  .navbar-brand img {
    width: 200px;
  }
}
